// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// .. GSS: Global Solid Settings
Frame { 
    action-bar-visibility: never; 
    background-color: transparent;
}
Page { background-color: transparent; }

.fx {
    height: 100%;
    width: 100%;
    /* font-family: noorehira; */
    /* font-family: Al Qalam Quran Majeed 2; */
    /* font-family: Al Qalam Quran Majeed 1; */
    /* font-family: Al Qalam Quran Majeed; */
    /* font-family: Al Qalam Quran; */
    /* font-family: AlQalamQuran; */

    /* font-family: QUR_STD; */
    /* font-family: ar-Othmani; */
    /* font-family: ar-Quran1; */
    /* font-family: MADDINA;*/
    /* font-family: ScheherazadeRegOT;*/
    /* font-family: Scheherazade-Regular; */
    /* font-family: JF Flat; */ 
    /* font-family: Amiri-Regular; */
}
